* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'roboto', sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    min-height: 100vh;

    background-image: url(./assets/mountains-universe-1.png);
    background-size: cover;
}

nav {
    display: flex;
    align-items: center;
    padding: 4rem 7.2rem;
    gap: 3.2rem;
}

nav a {
    font-size: 2.2rem;
    line-height: 2.2rem;
    color: #c4c4c4;
    text-decoration: none;
}